//
// Syntax highlighting styles
//

$kwrd: #00f;
$literal-string: #d14;
$function-name: #03a;
$kwrd-type: #25d;
$parens: #666;
$name-attribute: #008080;
$name-class: #63a;
$comment: #292;
$pre-processor: #007d9a;
$asp: #cc0;
$html: #02a;

.asp {
  color: $asp;
}

.html {
  color: $html;
}

.highlight {
  @extend %vertical-rhythm;
  background: $background-color;

  .p {
    color: $parens;
  }

  .c,
  .c1,
  .cm {
    color: $comment;
    font-style: italic;
  } // Comment

  .err {
    color: #a61717;
    background-color: #e3d2d2;
  } // Error

  .k {
    color: $kwrd;
  } // Keyword

  .o {
    font-weight: bold;
  } // Operator

  .cp {
    color: $pre-processor;
  } // Comment.Preproc

  .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
  } // Comment.Special

  .gd {
    color: #000;
    background-color: #fdd;
  } // Generic.Deleted

  .gd .x {
    color: #000;
    background-color: #faa;
  } // Generic.Deleted.Specific

  .ge {
    font-style: italic;
  } // Generic.Emph

  .gr {
    color: #a00;
  } // Generic.Error

  .gh {
    color: #999;
  } // Generic.Heading

  .gi {
    color: #000;
    background-color: #dfd;

    .x {
      color: #000;
      background-color: #afa;
    } // Generic.Inserted.Specific
  }
   
  .go {
    color: #888;
  } // Generic.Output

  .gp {
    color: #555;
  } // Generic.Prompt

  .gs {
    font-weight: bold;
  } // Generic.Strong

  .gu {
    color: #aaa;
  } // Generic.Subheading

  .gt {
    color: #a00;
  } // Generic.Traceback

  .kc {
    font-weight: bold;
  } // Keyword.Constant

  .kd {
    font-weight: bold;
  } // Keyword.Declaration

  .kp {
    font-weight: bold;
  } // Keyword.Pseudo

  .kr {
    font-weight: bold;
  } // Keyword.Reserved

  .kt {
    color: $kwrd-type;
  } // Keyword.Type

  .m {
    color: #099;
  } // Literal.Number

  .s {
    color: $literal-string;
  } // Literal.String

  .na {
    color: $name-attribute;
  } // Name.Attribute

  .nb {
    color: #0086b3;
  } // Name.Builtin

  .nc {
    color: $name-class;
  } // Name.Class

  .no {
    color: #008080;
  } // Name.Constant

  .ni {
    color: #800080;
  } // Name.Entity

  .ne {
    color: #900;
    font-weight: bold;
  } // Name.Exception

  .nf {
    color: $function-name;
  } // Name.Function

  .nn {
    color: #555;
  } // Name.Namespace

  .nt {
    color: #000080;
  } // Name.Tag

  .nv {
    color: #008080;
  } // Name.Variable

  .ow {
    font-weight: bold;
  } // Operator.Word

  .w {
    color: #bbb;
  } // Text.Whitespace

  .mf {
    color: #099;
  } // Literal.Number.Float

  .mh {
    color: #099;
  } // Literal.Number.Hex

  .mi {
    color: #099;
  } // Literal.Number.Integer

  .mo {
    color: #099;
  } // Literal.Number.Oct

  .sb {
    color: $literal-string;
  } // Literal.String.Backtick

  .sc {
    color: $literal-string;
  } // Literal.String.Char

  .sd {
    color: $literal-string;
  } // Literal.String.Doc

  .s2 {
    color: $literal-string;
  } // Literal.String.Double

  .se {
    color: $literal-string;
  } // Literal.String.Escape

  .sh {
    color: $literal-string;
  } // Literal.String.Heredoc

  .si {
    color: $literal-string;
  } // Literal.String.Interpol

  .sx {
    color: $literal-string;
  } // Literal.String.Other

  .sr {
    color: #009926;
  } // Literal.String.Regex

  .s1 {
    color: $literal-string;
  } // Literal.String.Single

  .ss {
    color: #990073;
  } // Literal.String.Symbol

  .bp {
    color: #999;
  } // Name.Builtin.Pseudo

  .vc {
    color: #008080;
  } // Name.Variable.Class

  .vg {
    color: #008080;
  } // Name.Variable.Global

  .vi {
    color: #008080;
  } // Name.Variable.Instance

  .il {
    color: #099;
  } // Literal.Number.Integer.Long
}

//
// Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
//
pre code,
pre.csharpcode {
  @include relative-font-size(.95);

  background: $background-color;
  border: solid 1px $grey-color-light;
  box-shadow: 1px 1px 2px $grey-color-medium;
  color: $text-color;
  display: block;
  font-family: $code-font-family;
  line-height: 1.5;
  margin: 10px 0 8px;
  overflow-x: auto;
  padding: 5px 15px;
  white-space: pre-wrap;
}
