//
// Posts
//
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(3);
  @include relative-font-weight(8);

  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-mobile) {
    @include relative-font-size(2);
  }
}

.post-content {
  font-family: $post-font-family;
  line-height: 33px;
  margin-bottom: $spacing-unit;

  a {
    background-image: linear-gradient(to right,currentColor 100%,currentColor 0);
    background-position: 0 calc(1em + 1px);
    background-repeat: repeat-x;
    background-size: 1px 1px;
  }

  h2,
  h3,
  h4 {
    font-family: $base-font-family;
    font-weight: 600;
  }

  h2 {
    @include relative-font-size(1.6);
    line-height: 1.15;
    margin-top: $spacing-unit * 1.8;
  }

  h3 {
    @include relative-font-size(1.2);
    color: lighten($text-color, 20%);
    margin-bottom: $spacing-unit / 4;
    margin-top: $spacing-unit;
  }

  h4 {
    @include relative-font-size(1.1);
    color: lighten($text-color, 30%);
    font-weight: 500;
    margin-bottom: $spacing-unit / 4;
    margin-top: $spacing-unit / 2;
  }

  .caption {
    color: $caption-color;
    display: block;
    font-size: .6em;
    font-style: italic;
    padding-left: 15px;
    position: relative;
  }

  .caption::before {
    content: '\f05a';
    font-family: FontAwesome;
    left: 0;
    line-height: 1.6em;
    position: absolute;
  }

  .read-more {
    @include relative-font-size(.8);

    background: none;
    border: solid 1px $header-background-color;
    font-family: $base-font-family;
    padding: 6px 10px;
    text-transform: uppercase;

    &:hover {
      background-color: $header-background-color;
      color: $background-color;
    }
  }
}

// --------
// Post Metadata
// --------
.meta {
  @include relative-font-size(.9);
  @include relative-font-weight(.5);
  color: $grey-color-medium;
  margin-left: 4px;

  a {
    color: $grey-color-medium;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    &:hover {
      color: $grey-color-dark;
      text-decoration: underline;
    }
  }

  .date,
  .tags,
  .comments,
  .edit {
    padding-right: 10px;
  }

  .date::before,
  .tags::before,
  .comments::before,
  .edit::before {
    color: lighten($grey-color-medium, 10%);
    font-family: FontAwesome;
    left: 0;
    margin-right: 5px;
  }

  .date::before {
    content: '\f073';
  }

  .tags::before {
    content: '\f02c';
  }

  .comments::before {
    content: '\f075';
  }

  .edit::before {
    content: '\f044';
  }
}

@mixin media-query($on-mobile) {
  .meta .date,
  .meta .tags,
  .meta .comments,
  .meta .edit {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    zoom: 1;
  }
}

.tag {
  display: none;
}

.excerpt {
  margin: 0;
  padding: 0;

  img {
    margin-bottom: 30px;
  }
}